/* Modal forms */
.modal {
    display: none;
}

.form-style-base{
    top:0px;
    z-index: 999;
    opacity: 0;
}
.modal-body{
    color: #3284c4 !important;
    background: #ECEEF2;
}
.modalwidth{
    width: 500px;
}
.modal-header{
    background: #3284C4;
}